@model MudasirRehmanAlp.Models.DistributorDefinition

@{

    DateTime TodayDate = DateTime.Now;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Bootstrap Admin App + jQuery">
    <meta name="keywords" content="app, responsive, jquery, bootstrap, dashboard, admin">
    <title>Angle - Bootstrap Admin Template</title>
</head>
<body onload="window.print();">
    <div class="panel panel-default">
        <div class="panel-heading">
            Distributor Definition
            <small class="pull-right">  Date: @{@TodayDate}  <i class="fa fa-globe"></i></small>
        </div>
        <div class="panel-body">
            <div class="row ">
                <div class="col-sm-4 ">
                    <label>Distributor Code: </label>
                    <span>@{ @Model.DistributorCode} </span>
                </div>
                <div class="col-sm-4 ">
                    <label>Organization Name: </label>
                    <span>
                        @{ if (Model.OrganizationID != null)
                            {
                                @Model.OrganizationDefinition.OrganizationUnitName
                            }
                        }
                    </span>
                </div>
                <div class="col-sm-4 ">
                    <label>Branch Name: </label>
                    <span>
                        @{ if (Model.BranchId != null)
                            {
                                @Model.BranchDefinition.Name
                            }
                        }
                    </span>
                </div>
                <div class="col-sm-4 ">
                    <label>Account Name: </label>
                    <span>
                        @{ if (Model.AccountID != null)
                            {
                                var AccountNoAndAccountName = @Model.Account.AccountNo + " - " + @Model.Account.AccountName;
                                <span>@AccountNoAndAccountName</span>
                            }
                        }
                    </span>
                </div>
                <div class="col-sm-4 ">
                    <label>Distributor Name: </label>
                    <span> @{ @Model.DistributorName}</span>
                </div>
                <div class="col-sm-4 ">
                    <label>Mobile No: </label>
                    <span>@{ @Model.MobileNo} </span>
                </div>
                <div class="col-sm-4 ">
                    <label>Phone No: </label>
                    <span>@{ @Model.PhoneNo} </span>
                </div>
                <div class="col-sm-4 ">
                    <label>Fax No: </label>
                    <span> @{ @Model.FaxNo}</span>
                </div>
                <div class="col-sm-4 ">
                    <label>NTN No: </label>
                    <span>@{ @Model.NTN} </span>
                </div>
                <div class="col-sm-4 ">
                    <label>GST No: </label>
                    <span>@{ @Model.GSTNo} </span>
                </div>
                <div class="col-sm-4 ">
                    <label>Email: </label>
                    <span> @{ @Model.Email}</span>
                </div>
                <div class="col-sm-4 ">
                    <label>Website: </label>
                    <span> @{ @Model.Website}</span>
                </div>
                <div class="col-sm-4 ">
                    <label>Contact Person: </label>
                    <span> @{ @Model.ContactPerson}</span>
                </div>
                <div class="col-sm-4 ">
                    <label>Contact Person Mobile No: </label>
                    <span> @{ @Model.ContactPersonMobileNo}</span>
                </div>
                <div class="col-sm-4 ">
                    <label>City Name: </label>
                    <span>
                        @{ if (Model.CityId != null)
                            {
                                @Model.CityDefinition.CityName
                            }
                        }
                    </span>
                </div>
                <div class="col-sm-4 ">
                    <label>Area Name: </label>
                    <span>
                        @{ if (Model.AreaId != null)
                            {
                                @Model.AreaDefinition.AreaName
                            }
                        }
                    </span>
                </div>
                <div class="col-sm-4 ">
                    <label>Address : </label>
                    <span> @{ @Model.DistributorAddrss}</span>
                </div>
                <div class="col-sm-4 ">
                    <label>Distributor Remarks : </label>
                    <span> @{ @Model.DistributorRemarks}</span>
                </div>
                <div class="col-sm-4 ">
                    <label>
                        Distributor Image:
                    </label>
                    <span>
                        @{
                            if (Model.DistributorImage != null)
                            {
                                var base64 = Convert.ToBase64String(Model.DistributorImage);
                                var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                                <img src='@imgSrc' style="max-width:100px; max-height:100px;" />

                            }
                        }
                    </span>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2">
                    <label>Status</label>

                    <div class="form-group">
                        <label class="radio-inline c-radio">
                            @Html.RadioButton("IsActive", "true", new { @checked = "checked", @type = "radio" })  <span class="fa fa-check"></span> Yes &nbsp; &nbsp; &nbsp;
                        </label>
                        <label class="radio-inline c-radio">
                            @Html.RadioButton("IsActive", "false", new { @type = "radio" }) <span class="fa fa-remove"></span> No
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>




