@model MudasirRehmanAlp.Models.OrganizationDefinition

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>OrganizationDefinition</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrganizationUnitName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrganizationUnitName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrganizationUnitCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrganizationUnitCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Website)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Website)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrganizationLogo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrganizationLogo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MobileNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MobileNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FaxNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FaxNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CountryId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CountryId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProvinceId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProvinceId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegionId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegionId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CityId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CityId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AreaId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AreaId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrganizationPincode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrganizationPincode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NTN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NTN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GSTNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GSTNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
