
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="unwrap">
    <div class="bg-cover">
        <div class="container container-md pv-lg">
            <div class="text-center mb-lg pb-lg">
                <div class="h1 text-bold">Reports of Stocks</div>
                <p>All Report Comming Soon...</p>
            </div>
        </div>
    </div>
</div>
<div class="container container-md">


    <div class="row">
        <div class="col-md-4">
            <div class="panel b">
                <div class="panel-body text-center">
                    <a href="@Url.Action("Index","StockMainReport")" class="link-unstyled text-dark">
                        <em class="fa fa-5x fa fa-th mb-lg"></em>
                        <br />
                        <span class="h4">Organization Stock</span>
                        <br />
                        <small class="text-muted">View all &rarr;</small>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel b">
                <div class="panel-body text-center">
                    <a href="@Url.Action("Index","BranchStocks")" class="link-unstyled text-primary">
                        <em class="fa fa-5x fa fa-th mb-lg"></em>
                        <br />
                        <span class="h4">Branch Stock</span>
                        <br />
                        <small class="text-muted">View all &rarr;</small>
                    </a>
                </div>
            </div>
        </div>
        

    </div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/Common")
    <script>
        $(document).ready(function () {

        var message = '@(TempData["ErrorMessage"])';
        var Validation = '@(TempData["Validation"])';
        showMessage(message, Validation)
             var rName = "StocksReports";
            GridPermission(rName)
           
           
        });
       
    </script>
}

